@model IEnumerable<EintechDevTest.Core.Domain.Entities.Person>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="/People/Create">Create New</a>
</p>
<p>
    @Model.Count() items found.
    @if (ViewBag.SearchText != null)
    {
        <span> You searched for: "@ViewBag.SearchText".</span>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
        </tr>
}
    </tbody>
</table>
